<!DOCTYPE html>
<html class="no-js"  lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
    <title>:: Picxa ::</title>


    <!-- Normalize -->
    <link rel="stylesheet" href="/static/css/assets/normalize.css" type="text/css">
    <!-- Bootstrap -->
    <link href="/static/css/assets/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!-- Font-awesome.min -->
    <link href="/static/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Main Style -->
    <link rel="stylesheet" href="/static/css/main.css" type="text/css">
    <!-- Responsive Style -->
    <link href="/static/css/responsive.css" rel="stylesheet" type="text/css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="/static/js/assets/modernizr-2.8.3.min.js" type="text/javascript"></script>


</head>
<body>


<!-- header -->
<header id="header" class="header">
    <div class="container-fluid">
        <hgroup>
            <!-- logo -->
            <h1>
                <a href="/" title="Picxa"><img src="/static/images/logo.png" alt="Picxa" title="Picxa"/></a>
            </h1>

            <!-- logo -->
            <!-- nav -->
            <nav>
                <div class="menu-expanded">
                    <div class="nav-icon">
                        <div id="menu" class="menu"></div>
                        <p>menu</p>
                    </div>
                    <div class="cross">
                        <span class="linee linea1"></span>
                        <span class="linee linea2"></span>
                        <span class="linee linea3"></span>
                    </div>
                    <div class="main-menu">
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="about.html">About</a></li>
                            <li><a href="blog.html">blog</a></li>
                            <li><a href="contact.html">contact</a></li>
                            <li><a href="#" data-toggle="modal" data-target="#AddPhotoCreateModal">Fotoğraf Yükle</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- nav -->
        </hgroup>
    </div>
</header>
<!-- header -->
<!-- main-wrapper-inner -->
<main class="main-wrapper-inner" id="container">
    <div class="container">
        <div class="wrapper-inner">
            <ul id="photos-list" class="small-block-grid-2 medium-block-grid-3 large-block-grid-3 masonry">
            </ul>
        </div>
    </div>
</main>
<!-- main-wrapper-inner -->
<!-- footer -->
<footer class="footer">
    <h3>Stay connected with us</h3>
    <div class="container footer-bot">
        <div class="row">
            <!-- logo -->
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <p class="copy-right">&copy; Reserved Picxa inc 2016.</p>
            </div>
            <!-- logo -->
            <!-- address -->
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 padding-top">
                <address><p>200 Broadway Av</p>
                    <p>West Beach SA 5024  Australia</p></address>
            </div>
            <!-- address -->
            <!-- email -->
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 padding-top">
                <p><a href="mailto:contact@Picxa.com">contact@Picxa.com</a></p>
                <p>01 (2) 34 56 78</p>
            </div>
            <!-- email -->
            <!-- social -->
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 padding-top">
                <ul class="social">
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-flickr" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-tripadvisor" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-delicious" aria-hidden="true"></i></a></li>
                </ul>
                <p class="made-by">Made with by <i class="fa fa-heart" aria-hidden="true"></i> <a href="http://www.designstub.com/" target="_blank">Designstub</a><p>
            </div>
            <!-- social -->
        </div>
    </div>
</footer>
<!-- footer -->
>    <div class="modal fade" id="AddPhotoCreateModal" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>Fotoğraf Yükle</span>
                </h4>
            </div>
            <div class="tabbable">
                <div class="well tab-content">
                    <div class="tab-pane active" id="post-object-form">
                        <form action="/photos/" method="POST" enctype="multipart/form-data" class="form-horizontal" novalidate="">
                            <fieldset>
                                <div class="form-group ">
                                    <label class="col-sm-2 control-label ">
                                        Fotoğraf
                                    </label>
                                    <div class="col-sm-10">
                                        <input name="photo" type="file" value="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label ">
                                        Albüm
                                    </label>
                                    <div class="col-sm-10">
                                        <select class="form-control" name="album">
                                            <option value={{ album }}>{{ album_name }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <button class="btn btn-primary" title="Make a POST request on the Photo List resource">Yükle</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="mdl-tag-photo" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>Etiket Ekle</span>
                </h4>
            </div>
            <div class="tabbable">
                <div class="well tab-content">
                    <div class="tab-pane-active" id="put-generic-content-form-tag">
                        <form id="form-tag" action="#" data-method="PATCH" class="form-horizontal">
                            <fieldset>
                                <div class="form-group ">
                                    <label class="col-sm-2 control-label ">
                                        Etiket
                                    </label>
                                    <div class="col-sm-10">
                                        <input name="keyword" class="form-control" type="text" value="">
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <button id="btn-add-tag" class="btn btn-primary js-tooltip" title="" data-original-title="Fotoğrafa etiket ekle.">Ekle</button>
                                </div>
                            </fieldset>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/static/js/assets/jquery.min.js"><\/script>')</script>
<script src="/static/js/assets/plugins.js" type="text/javascript"></script>
<script src="/static/js/assets/bootstrap.min.js" type="text/javascript"></script>
<script src="/static/js/main.js" type="text/javascript"></script>
<script src="/static/js/jquery.nicescroll.min.js" type="text/javascript"></script>
<script>

    var currentLocation = window.location.href;
    currentLocation=currentLocation.replace("details/?album="+{{ album }},"");
    $.getJSON(currentLocation+"photos", function(data) {
        $.each( data, function( key, value ) {
            var str = value.photo.replace("/photo_album", ""); <!-- Burası localde calistirirken degisebilir-->
            str = str.replace("/photos", "");
            str = str.replace("/app", "");
            str = str.replace("/albums", "");
            if (value.album=={{ album }})
                $('#photos-list').append("<li  <figure class='image'><img  src='" + str + "'/>" + "</figure>" +
                    "<a href=\"#\" data-photo-id='"+value.id+"' data-toggle=\"modal\" data-target=\"#mdl-tag-photo\">Mevcut Etiket: #" + value.keyword + " (Etiket Değiştir)</a></li>");
        });
    });
</script>
<script>
    window.drf = {
        csrfHeaderName: "X-CSRFTOKEN",
        csrfCookieName: "csrftoken"
    };
</script>
<script src="/static/rest_framework/js/jquery-3.3.1.min.js"></script>
<script src="/static/rest_framework/js/ajax-form.js"></script>
<script src="/static/rest_framework/js/csrf.js"></script>
<script src="/static/rest_framework/js/bootstrap.min.js"></script>
<script src="/static/rest_framework/js/prettify-min.js"></script>
<script src="/static/rest_framework/js/default.js"></script>
<script>
    $(document).ready(function() {
        $('form').ajaxForm();
    });

    $('#mdl-tag-photo').on('show.bs.modal', function(e) {
        var photoId = $(e.relatedTarget).data('photo-id');
        $("#form-tag").attr('action', '/photos/'+photoId+'/');
    });

    $(function () {
        $('#btn-add-tag').click(function (e) {
            e.preventDefault(); //prevent the default action

            $.ajax({
                type: "PATCH",
                url: $('#form-tag').attr('action'),
                data: $('#form-tag').serialize(),
                complete: function (msg) {
                    window.location.replace('/details/?album='+{{ album }});
                },
                error: function () {
                    alert("Hata!");
                }
            });
        });
    });
</script>


</body>
</html>